*{
    padding: 0px;
    margin: 0px;
    background-color: green;
}
h1{
    font-size: 50px;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}